<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DIAGRAM</title>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link href="./bootstrap-3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="./css/style.css" rel="stylesheet"/>
 		<script src="./js/jquery-2.1.4.min.js"></script>
    <script src="./bootstrap-3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="logo-big">DIAGRAM</div>
		<div class="container-fluid">
		 <div class="row">
			<div class="navbar-header">
				<a class="navbar-brand logo-small" href="#">DIAGRAM</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="row">
				<div class="nav-divider col-md-3 col-ms-3"><span class="divider"></span></div>
				<div id="navbar"  class="col-md-6 col-ms-6">
					<ul>
						<li class="li-col"><a href="#">Shop-Index</a></li>
						<li class="li-col"><a href="#">New-Book</a></li>
						<li class="li-col"><a href="#">logo<img src=""/></a></li>
						<li class="li-col"><a href="#">My-Cart</a></li>
						<li class="dropdown li-col">
							<a class="dropdown-toggle" data-toggle="dropdown">My-Acount
							<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Personal</a></li>
								<li><a href="#">Signin</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="nav-divider col-md-3 col-ms-3"><span class="divider"></span></div>
			</div>
			</div>
		</div>
	</nav>
	<div class="main">
		<div class="book">
			<div>
				<img />
				<p></p>
				<button>Add To Cart</button>
			</div>
		</div>
		<div class="book"></div>
		<div class="book"></div>
		<div class="book"></div>
		<div class="book"></div>
	</div>
	<div class="footer">
	</div>
</body>
</html>