<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="./css/mysql.css" rel="stylesheet"/>
    <link href="./bootstrap-3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
 	<script src="./js/jquery-2.1.4.min.js"></script>
    <script src="./bootstrap-3.3.0/js/bootstrap.min.js"></script>
	<title>MYSQL</title>
</head>
<body>
	<div class="header"></div>
	<div class="contain">
		<div class="book">
			<form method="post" action="/mysql" enctype="multipart/form-data">
				<h2>USER</h2>
				<div class="table">
					<table>
						<tr>
							<td>ISBN</td><td><input type="text" name="isbn"></input></td>
						</tr>
						<tr>
							<td>name</td><td><input type="text" name="name"></input></td>
						</tr>
						<tr>
							<td>author</td><td><input type="text" name="author"></input></td>
						</tr>
						<tr>
							<td>publish_company</td><td><input type="text" name="isbn"></input></td>
						</tr>
						<tr>
							<td>publish_time</td><td><input type="text" name="isbn"></input></td>
						</tr>
						<tr>
							<td>intro</td><td><input type="text" name="isbn"></input></td>
						</tr>
						<tr>
							<td>price</td><td><input type="text" name="isbn"></input></td>
						</tr>
						<tr>
							<td>price_original</td><td><input type="text" name="isbn"></input></td>
						</tr>
						<tr>
							<td>state</td><td><input type="text" name="isbn"></input></td>
						</tr>
						<tr>
							<td>img</td><td><input type="file" name="img" accept="image/*"></input></td>
						</tr>
					</table>
				<div>
			</form>
		</div>
		<div class="bookshop"></div>
		<div class="cart"></div>
		<div class="order"></div>
		<div class="order_user_book"></div>
	</div>
	<div class="footer"></div>	
</body>
</html>