.table td,.table th{
	text-align: center;
}

.amount{
	padding-top:1em;
}

.amount-cost{
	font-size:1.2em;
	color:#E53935;
}

.amount .btn{
	margin-left:0.6em;
	background-color:#E53935;
	color:#fff;
}

input.allchose{
	margin-left:0.5em;
	margin-right:0.5em;
}


.tag-left{
	float:left;
}

.tag-right{
	float:right;
}

.table-cart{
	width:100%;
}
/*------------ order ------------*/
.mian-pay{
	margin-top:2em;
	min-width: 25em;
}

.order-operator{
	border-left:1px solid #E53935;
	background-color:#E7E7E7;
	padding-top:0.3em;
	padding-bottom:0.3em;
	margin-bottom:0.5em;
}

.ordernum-text{
	padding-left:0.4em;
	padding-right:0.4em;
	font-weight: bold;
}

.order-putback{
	margin-left:0.6em;
}

.order-cancel{
	margin-left:0.6em;
}

.paygraphic{
	/*border:1px solid #000;*/
	text-align: center;
}


@media (max-width: 992px) {
	.paygraphic{
		margin-top:4em;
	}
}

.order-list{
	background-color:#F5F5F5;
	padding:2em;
}

.order-list a{
	text-decoration: none;
}

.order-detail{
	clear:both;
	background-color:#fff;
	margin-top:1.5em;
}

.order-detail table{
	width:100%;
}

.order-detail table td{
	padding:0.4em;
	border-bottom: 0.1em solid #E7E7E7;
}

.amount-order{
	margin-top:1em;
	margin-right:1em;
	margin-bottom:1em;
}

.btn-checkout{
	margin-left:1em;
	width:4em;
	background-color:#E53935;
	color:#fff;
	border:0;
}

.btn-checkout a{
	text-decoration: none;
	color:#fff;
}

.logout{
	height:2em;
	width:100%;
	line-height: 2em;
	padding:0;
	padding-left:1em;
	padding-right:1em;
	margin:0;
	background-color: #fff;
	border-left:1px solid #E53935;
}

/*数量*/
.book-amount{
	display: block;
    border: 0.1em solid #dcdcdc;
    height: 1.6em;
    width: 5.2em;
    line-height: 1.6em;
    font-size: 1em;
    margin: 0.3em auto;
    overflow: hidden;
}

.book-nums{
	display:block;
	width: 1.8em;
    height: 1.6em;
    line-height: 1.6em\9;
    float: left;
    padding: 0;
    text-align: center;
    border: 0.1em solid #dcdcdc;
    border-width: 0 0.1em;
    background-color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.book-add,.book-sub{
	display: block;
    float: left;
    height: 1.6em;
    width: 1.6em;
    background-color: #f4f4f4;
    text-align: center;
    cursor: auto;
}

.book-amount a:hover,.book-amount a:hover{
    text-decoration: underline;
    color: #ff2832;
}
.book-amount a:link, .book-amount a:visited {
    text-decoration: none;
    color: #323232;
}